.NavBar {
    font-family: "Alike", "Pavanam", sans-serif;
    border: 1px solid #2d3334;
}

.NavLink {
    padding: 5px;
    color: #f7eedf;
}

.Active i {
    color: #bec358;
}

.Active {
    color: #bec358;
}