.App {
    font-family: "Pavanam", "Red Hat Text", sans-serif;
    background-color: #2d3334;
    min-height: 100vh;
    color: #f7eedf;
}

.Main {
    padding-top: 81px;
}

* {
    box-sizing: border-box;
}

a {
    color: #f7eedf;
    transition: color ease-in-out 0.3s;
}

a:hover {
    text-decoration: none;
    color: #bec358;
}

a:hover i {
    color: #bec358;
    transition: color ease-in-out 0.3s;
}

i {
    color: #f7eedf;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #bec358;
}

figure {
    text-align: center;
    display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

Form {
    background-color: #f7eedf;
    color: black;
}